*.cert filter=git-crypt diff=git-crypt
*.key filter=git-crypt diff=git-crypt
*.crt filter=git-crypt diff=git-crypt
*.csr filter=git-crypt diff=git-crypt
*.gpg filter=git-crypt diff=git-crypt
*.pem filter=git-crypt diff=git-crypt
*.pfx filter=git-crypt diff=git-crypt
passwords.txt filter=git-crypt diff=git-crypt
*.enc.json filter=git-crypt diff=git-crypt
10-input*.erb filter=git-crypt diff=git-crypt
ses-smtp-credentials.csv filter=git-crypt diff=git-crypt
